<!DOCTYPE html>
<html lang="ko">
  <head>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .content {
        background-color: cadetblue;
        width: 600px;
      }
      .first {
        float: left;
        width: 20%;
        height: 100px;
        background-color: thistle;
        overflow: scroll;
      }
      .second {
        float: right;
        width: 80%;
        background-color: yellowgreen;
      }
      .content::after {
        content: "";
        clear: both;
        display: block;
      }
    </style>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <div class="content">
      <h1>ipsum</h1>
      <div class="first">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget
        nullam non. Quis hendrerit dolor magna eget est lorem ipsum dolor sit.
        Volutpat odio facilisis mauris sit amet massa. Commodo odio aenean sed
        adipiscing diam donec adipiscing tristique. Mi eget mauris pharetra et.
        Non tellus orci ac auctor augue. Elit at imperdiet dui accumsan sit.
        Ornare arcu dui vivamus arcu felis. Egestas integer eget aliquet nibh
        praesent. In hac habitasse platea dictumst quisque sagittis purus.
        Pulvinar elementum integer enim neque volutpat ac.
      </div>
      <div class="second">
        Senectus et netus et malesuada. Nunc pulvinar sapien et ligula
        ullamcorper malesuada proin. Neque convallis a cras semper auctor.
        Libero id faucibus nisl tincidunt eget. Leo a diam sollicitudin tempor
        id. A lacus vestibulum sed arcu non odio euismod lacinia. In tellus
        integer feugiat scelerisque. Feugiat in fermentum posuere urna nec
        tincidunt praesent. Porttitor rhoncus dolor purus non enim praesent
        elementum facilisis. Nisi scelerisque eu ultrices vitae auctor eu augue
        ut lectus. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus.
        Et malesuada fames ac turpis egestas sed. Sit amet nisl suscipit
        adipiscing bibendum est ultricies. Arcu ac tortor dignissim convallis
        aenean et tortor at. Pretium viverra suspendisse potenti nullam ac
        tortor vitae purus. Eros donec ac odio.
      </div>
    </div>
  </body>
</html>
